/* Navbar.css */

.navbar {
    background: #fff;
    position: sticky;
    top: 0;
    font-weight: 600;
    font-family: manrope, sans-serif;
    padding: 0;
    border-bottom: 1px solid #d6d6db;
    z-index: 99999999;
  }
  
  .navbar .container {
    max-width: 1240px;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 0 32px;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover,
  .nav-link.active {
    color: #007bff;
  }
  
  .navbar-toggler {
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .brand_logo {
    vertical-align: middle;
  }
  